/* background: #fbfaf9 */
/* foreground: #222222 */
/* button: #f2f2f2 */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --main-clr:#1c1c1c;
  --main-clrW: #fbfaf9;
  --text-clr: #222222;
  --button-clr: #f2f2f2;
}

body {
  background-color: var(--main-clr);
  color: var(--main-clrW);
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  display: grid;
  place-content: center;
}

.main-container {
  /* background-color: hotpink; */
  height: 100vh;
  min-width: 350px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}