/* background: #fbfaf9 */
/* foreground: #222222 */
/* button: #f2f2f2 */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --main-clr: #fbfaf9;
  --para-clr: #5e5e5e;
  --palette-clr: #297373;
  --palette-50: #ECF8F8;
  --palette-100: #DAF1F1;
  --palette-200: #B4E4E4;
  --palette-300: #8FD6D6;
  --palette-400: #69C9C9;
  --palette-500: #44BBBB;
  --palette-600: #369696;
  --palette-700: #297070;
  --palette-800: #1B4B4B;
  --palette-900: #0E2525;
  --palette-950: #091A1A;
}

body {
  background: linear-gradient(white, var(--palette-100));
  color: var(--text-clr);
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: all ease-in-out .5s;
  min-height: 100vh;
}

.main-container {
  min-width: 350px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  /* margin-top: 1em; */
}

span {
  font-weight: 600;
}

h2 {
  font-family: "Lora", sans-serif;
}

.home-container {
  margin-top: 4.5em;
}

.home-header {
  font-size: 1.6rem;
  font-family: "Lora", serif;
  color: var(--palette-clr);
}

.para {
  color: var(--para-clr);
  line-height: 1.8rem;
  font-size: 8.rem;
}

.home-img {
  width: 4.5em;
  border-radius: 1em;
  transform: rotate(-4deg);
  border: .15em solid var(--palette-700);
  box-shadow: 0px 3px 4px var(--palette-600);
  transition: all ease-in-out .5s;
  cursor: pointer;
}

.home-img:hover {
  transform: scale(1.1) translateX(10px);
}

.resume {
  display: flex;
  align-items: center;
  gap: .2em;
  background: var(--palette-100);
  padding: .5em 1em;
  border-radius: .2em;
  margin: 0;
}

.resume-a {
  color: var(--palette-700);
  text-decoration: underline;
  cursor: pointer;
}

.resume-a:hover {
  color: var(--palette-600);
}

.resume-text {
  color: var(--palette-800);
  font-size: 1.1em;
}

.project-main-div {
  margin-top: .6em;
  background: linear-gradient(180deg, var(--palette-100), var(--palette-50));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 1em;
  border-radius: .2em;
  border: .1em solid var(--palette-400);
  transition: all ease-in-out .3s;
}

.project-main-div:hover {
  transform: scale(1.02);
  background: linear-gradient(var(--palette-200), var(--palette-50));
}

.project-para {
  line-height: .5em;
}

.para-heading {
  font-size: 1em;
  font-weight: 600;
  color: var(--palette-900);
}

.para-para {
  font-size: .8em;
  color: var(--palette-800);
}

.project-para-heading {
  color: var(--para-clr);
}

.link-btn, .github-btn  {
  padding: .8em .9em;
  border-radius: .5em;
  border: .1em solid var(--palette-700);
  margin-right: .4em;
  background-color: var(--palette-200);
  transition: all ease-in-out .3s;
}

.link-btn:hover, .github-btn:hover {
  background-color: var(--palette-100);
  cursor: pointer;
}

.skills {
  padding: 1em;
  border: .1em solid var(--palette-300);
}

.contact-container {
  padding-bottom: 4.5em;
}

.contact-contents {
  padding: 1em;
  border-radius: .2em;
  border: .1em dashed var(--palette-600);
}

.contact-btns {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.contact-btn {
  display: flex;
  align-items:  center;
  padding: .5em 1em;
  gap: .5em;
  font-family: inherit;
  background: var(--palette-100);
  border-radius: .2em;
  border: .1em solid var(--palette-600);
  transition: all ease-in-out .3s;
  color: var(--palette-800);
}

.contact-btn:hover {
  background-color: var(--palette-200);
  cursor: pointer;
}

.mailLink {
  color: var(--palette-600);
  text-decoration: underline;
}

a {
  color: var(--palette-700);
  text-decoration: none;
}

@media screen and (min-width: 640px){
  .main-container{
    min-width: 600px;
  }
  .home-header {
    font-size: 2.5rem;
  }

  .para {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .home-img {
    width: 6em;
  }

  .contact-btns {
    display: flex;
    flex-direction: row;
    gap: .5em;
  }
}